@font-face {
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 400;
  src: local('Coustard'), url(http://themes.googleusercontent.com/static/fonts/coustard/v4/7Z1TmjHUqIGEzERrLfAhXHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
